
.pie {
    margin: 0 auto;
    align-items: center;
  }



:host{
    padding: 40px;
    
}

.profile-card{
    text-align: center;
    padding: 0 20px 20px 20px;

}


img{
 width: 150px;
 height: 150px;
 object-fit: cover;
 border-radius: 60%;       
}


.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }




  *{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.ComponentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: #33333300;
    z-index: 10;
    margin-top: 20px;
    
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
    z-index: 10;
}

.container .box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #807f7f;
    border-radius: 20px;
    transform-style: preserve-3d;

}

.container .box::before{
    content: 'ADD';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}


.container .box:hover::before{
    opacity: 0.14;

}
.container .box:hover::after{
    opacity: 0.14;

}




.container .box:hover .product{
    
    transform: translate3d(-50%,-50%,100px) rotate(-15deg);

}

.container .box::after{
    content: 'Chart';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0.0;
    transition: 0.5s;
}

.container .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    transform-style: preserve-3d;
}

.container .box:hover .name{
    top: 40px;
    opacity: 1;

}

.container .box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    width: 175px;


}

 
.container .box:hover .buy{
    bottom: 40px;
    opacity: 1;

}

.container .box .cirlce{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.432);
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,50px);
    z-index: 10;
    opacity: 1;
}

.container .box .product{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 15;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,51px) rotate(-15deg);
}

.custom-tooltip {
    font-size:15px;
    font-style: italic;
    background-color: rgb(110, 110, 110);
    
}






